@model IEnumerable<AskMe.Models.Question>

@{
  ViewBag.Title = "Index";
}

<h2>Questions</h2>

@foreach (var item in Model)
{
  <div class="card bg-light">
    <div class="card-body">
      <h5 class="card-title">@Html.ActionLink(item.Post.Title, "QuestionDetails", new { Id = item.PostId })</h5>
      <div class="row">
        <div class="col-md-11">
          <p class="card-text">
            @foreach (var tag in item.Tags)
            {
              <span class="badge badge-secondary">@tag.Name</span>
            }
          </p>
          <p class="card-text"><small class="text-muted">Asked on: @item.Post.CreatedTime</small></p>
        </div>
        <div class="col">
          This is for votes
        </div>
      </div>
    </div>
  </div>
}
<div class="row">
  <div class="col"></div>
  <div class="col text-center mt-3">@Html.ActionLink("AskMe Something!", "CreateQuestion", "Question", null, new { @class = "btn btn-outline-primary" })</div>
  <div class="col"></div>
</div>

